<%# ヘッダー %>
<%= render "shared/header" %>
<div class="index-wrapper">
  <%# メインコンテンツ %>
  <div class="index-contents">
    <div class="index-lists">
      <h1>items controller index action page</h1>
      <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <div>
            <%= item.language.name %>
          </div>
        <% end %>
        <%#
          <div>
            <%= item.title 
          </div>
          <div>
            <%= item.content
          </div>
        %>
      <% end %>
    </div>
    <%# フッター %>
    <%#= render "shared/footer" %>
  </div>
</div>