<h1>items controller index action page</h1>
<div>
  <% if user_signed_in? %> 
    <%= link_to current_user.nickname, "#" %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, class: "login" %>
    <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
  <% end %>
</div>

<div>
  <%= link_to "新規投稿", new_item_path %>
</div>

<div>
  <% @items.each do |item| %>
    <%= link_to item_path(item.id) do %>
      <div>
        <%= item.language.name %>
      </div>
      <div>
        <%= item.title %>
      </div>
      <div>
        <%= item.content %>
      </div>
    <% end %>
  <% end %>
</div>