<div>
  <h2>item controller show action page</h2>
  <span><%= link_to "トップページ", root_path %></span>
  <%= link_to "編集", edit_item_path(@item.id), method: :get %>
  <%= link_to "削除", item_path(@item.id), method: :delete %>
  <div>
    <h3>言語</h3>
    <%= @item.language.name %>
  </div>
  <div>
    <h3>タイトル</h3>
    <%= @item.title %>
  </div>
  <div>
    <h3>内容</h3>
    <%= @item.content %>
  </div>
</div>