<%= render "shared/header" %>

<div class="show-wrapper">
  <div class="show-main">
    <div class="show-nav">
        <div><%= link_to "戻る", root_path %></div>
        <div class="show-menu">
          <div class="show-item-edit"><%= link_to "編集", edit_item_path(@item.id), method: :get %></div>
          <div class="show-item-delete"><%= link_to "削除", item_path(@item.id), method: :delete %></div>
        </div>
    </div>
    <div class="show-contents">
      <div>
        <h1 class="show-language">言語<h1>
        <div class="show-detail-language"><%= @item.language.name %></div>
      </div>
      <div>
        <h1 class="show-title">タイトル</h1>
        <div class="show-detail-title"><%= @item.title %></div>
      </div>
      <div>
        <h1 class="show-content">内容</h1>
        <div class="show-detail-content"><%= safe_join(@item.content.split("\n"),tag(:br)) %></div>
      </div>
    </div>
  </div>
</div>